/* STYLE GLOBAL */
*
{
    font-family: Belleza;
}

@media (max-width:1200px) {
    .category-title {
        background-image: url("../images/photographer.jpg");;
        background-size: cover;

    }
    .artist-artwork {
        img {
            width: 150px;
        }

        .photos-titles-4 {
            display: none;
        }
    }
}

@media (max-width:900px) {
    .category-title {
        background-image: url("../images/photographer.jpg");;
        background-size: cover;
        font-size: 30px;
            
    }

    .artist-artwork {
        img {
            width: 150px;
        }

         
        .photos-titles-4 {
            display: none;
        }
    }
}

@media (max-width:540px) {
    .category-title {
        background-image: url("../images/photographer.jpg");;
        background-size: cover;
        font-size: 10px;

    }

    .artist-artwork {
        .artist-portrait {
           //width: 50%;
        }
        img {
            //width: 9em;
        }
 
        .photos-titles-3,
        .photos-titles-4 {
            display: none;
        }
    }
    
}

/* Section CATEGORY TITLE*/
.category-title {
    background-image: url("../images/photographer.jpg");;
    background-size: cover;

    h2 {
        text-align: center;
        color: #FFDE59;
        height: 2.5em;
        font-size: 6em;
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: center;
        letter-spacing: 0.2em;
        text-shadow: 5px 5px 15px black;
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 0.3em 1.9em 0.8em 1.9em;
    border-bottom-style: solid;
    border-bottom-color: #FFDE59;
    font-size: 1.3em;

    p {
        margin-block: auto;
    }

    a {
        outline: 3px;
        padding: 2px 1px 0;
        font-size: 1.25em;
      }

    a:visited {
        color: black
    }

}

/* ARTISTS and ARTWORKS section*/
.artist-artwork {
    display: flex;
    justify-content: space-around;
    margin: 0.9em 0em 1.9em 0em;

    img {
        margin: 0.3em;
    }

    .artist-portrait {
        //display: flex;
        flex-direction: column;
        margin-bottom: 1.2em;

        .round-portrait {
            border-radius: 100%;
            -webkit-border-radius: 9.375em;
            //-moz-border-radius: 100px;
            width: 12em;
            height: 12em;
            margin-bottom: 0.3em;
        }

        p {
            font-size: 1.9em;
            margin: 0.3em 0.3em 0.7em 1.2em;
        }

        button {
            width: 5em;
            height: 1.8em;
            color: black;
            background-color: #FFDE59;
            border: none;
            border-radius: 0.3em;
            margin-left: 2.5em;
            font-size: 1.25em;
        }
    }

    .artwork-title {
        justify-content: flex-end;
        display: flex;
        margin: 0em 0.6em 0em 0em;
    }
}

/*Others PAGES LINKS section*/
.pages {
   
    .pages-links {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: black;
        }

        a:visited {
            color: #483b06;
        }

        li {
            margin: 10px;
            list-style: none;
            border: solid 2px black;
            padding: 0.3em 0.6em 0.3em 0.6em;
        }
    }
} 