section.picture{
   

    background-repeat: no-repeat;
}


img{


    
    width: 60em;
    height: 28em;
    position: relative;
    top: 5em;
}
    



img.buble {
    
    position: relative;
    right: -57em;
    top: -46em;
    width: 578px;
    transform: rotate( 
15deg
 );
}
a {
    position: relative;
    bottom: 621px;
    left: 15em;
    color: black;
    font-size: larger;
    -webkit-text-decoration: dashed;
    text-decoration: dashed;
    border: solid;
    font-weight: 900;
}

img.smoke {
    position: relative;
    top: -37em;
    width: 340px;
    right: -131px;
    height: 250px;
}


section.text {
    width: 301px;
    position: relative;
    left: 70%;
    bottom: 46em;
    font-size: 25px;
    font-family: cursive;
    font-weight: 900;

}
p.text {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    position: relative;
    top: 112px;
    font-weight: 800;
    text-shadow: 4px 4px 4px pink;
    right: 56px;
   
} 