body {

    border-right: 20px solid rgb(112, 108, 108);
    border-left: 20px solid rgb(112, 108, 108);
    border-top: 20px solid rgb(112, 108, 108);
    border-bottom: 20px solid rgb(112, 108, 108);
    //margin-left: 10%;
    //margin-right: 10%;
}

header {


    position: relative;
    width: 100%;
}


h1.title {
    padding-top: 150px;
    text-align: center;
    font-family: Cormorant Garamond;
 
    position: relative;
    font-size: 40px;
    left:35px;
}

p.border-artist {

    border-bottom: 4px solid;
    margin-right: 44%;
    margin-left: 49%;
    color: #FFDE59;

}

h1.nav-title {
    color: white;
    font-family: Cormorant Garamond;
    font-size: xx-large;
    margin-top: 0px;

}

nav {
    display: flex;
    /* flex-flow: row; */
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    position: relative;
    width: 100%;
    height: 50px;

}


nav.footer {

    display: flex;
    /* flex-flow: row; */
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    position: relative;
    width: 100%;
    height: 250px;

}

a.nav-a-footer {

    color: #FFDE59;
    display: flex;
    /* flex-flow: row; */
    justify-content: center;
    justify-content: space-around;

}

.lien-footer {
    /* right: 200px; */
    display: inline-grid;
    /* position: relative; */
    /* display: inline-grid; */
    position: relative;
    right: 10%;
    top: 10%;
    justify-items: baseline;
}

.logo-title {
    color: antiquewhite;
    top: 50%;

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

h1.footer {
    top: 50%;
    position: relative;
    left: 30%;
  }



.réseaux {
    position: relative;
    left: 40px;
    top: 50%;
}
a.facebook {
    color: #3b5998;
}
a.instagram{

    color: radial-gradient(#515bd4, #8134af, #dd2a7b, #feda77, #f58529);
}


//background-image: radial-gradient(circle at 0px 0px, rgba(0,0,0,1) 35%, rgba(155,155,155,0) 100%)
.newsletter {
    position: relative;
    top: 15%;
    color: aliceblue;
    left: 50px;
}

//header
a.nav-a {
    padding-top: 20px;
    color: aliceblue;
    margin-inline: -200px;
    margin-left: 100px;
    // border-right: 1px solid #FFDE59;
}

a.nav-con {

    padding-top: 20px;
    color: #FFDE59;
    margin-left: 100px
}

button {
    height: 30px;
    width: 150px;
    margin-top: 15px;
    color: black;
    background-color: #FFDE59;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p.text {
    font-family: 'Belleza';
    display: flex;
    margin-left: 50px;
}

p.border {
    border-bottom: 4px solid;
    margin-left: 40%;
    margin-right: 40%;
    color: #FFDE59;
}



//image header
img {
    width: 250%;
}

//images main
img.\31{
width: 250px;
height: 400px;
clear: both;
float: right;
}

img.\32 {
    width: 250px;
    height: 250px;
    padding-left: 95px;
    position: relative;
    right: 21px;

}
img.\33 {
    width: 250px;
    height: 250px;
}

img.\34 {
    width: 200px;
    height: 200px;
  
}


img.\35 {
    width: 350px;
    height: 350px;
    position: relative;
    bottom: 150px;
}

img.\36 {

    width: 250px;
    height: 350px;
    position: relative;
    bottom: 150px;
}





section.artist {

    display: flex;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;

}

section.oeuvre-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;


}


section.oeuvre-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;


}

h2 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 50px;
}


@media (max-width: 1220px)  {


    body{

        
        
            border: none;
            margin-left:15%;
            
        

    }
  



    a.nav-a {

        display: flex;
       flex-direction: column;
       display:contents;

    }

    a.nav-con {
        display: flex;
        flex-direction: column;
        display:contents;

    }


button {

        display: flex;
        flex-direction: column;

}

    nav {

        display: flex;
        flex-direction: column;
        //height: 450px;
        height: 450px;
   
}



    .newsletter {
       
       display: flex;
       justify-content: center;
       width: 80%;
       padding-top: 75px;

    }

    h1.footer{

        display: flex;
        justify-content: center;
        width:80%;
        padding-top: 75px;
       

    }
    .lien-footer{
        position: relative;
        top: 55%;
        left: 0%;
     
    }
    .réseaux{


        display: flex;
        justify-content: center;
        width: 80%;

    }

    nav.footer {
        padding-bottom: 110px;
        height: 200px;
        
        display: flex;
        flex-direction: column;
        

    }

    h1.title {
        font-size: 30px;
        color: black;

    }

    p.border-artist {

        color: black;
    }
    

    section.artist{

        margin-right: 65%;
    
    
     }
    





}


@media (max-width:568px) {


 body{

 border: 5px solid #FFDE59;

 }
 img.\34, img.\35, img.\36 {
    position: relative;
    bottom: 60%;
}
h1.title {
    text-align: left;
}

.newsletter {
  display: inline-grid;
  position: relative;
  top: 10px;
 


}
input#newsletter {
height: 15%;
position: relative;
top: 10px;

}
section.oeuvre-1{
   margin-left: -10px;
}
section.oeuvre-2 {

    margin-left: -10px;

}




}












@media (max-width:1222px) {

    img.\31,
    img.\32,
    img.\33,
    img.\34,
    img.\35,
    img.\36 {

        width: 76px;
        
    }
    img.\35,
    img.\36 {
        position: relative;
        right: 5px;



    }

    img.\32,
    img.\33 
   

    {
        position: relative;
        right: 100px;

    }
  

   
    nav{

justify-items: baseline;

    }
    h1.nav-title{

        text-align: center;
      } 

}
