@charset "UTF-8";
/* GENERAL */
* {
  font-family: Belleza;
}
.title-logo {
  font-family: Cormorant Garamond;
  font-size: xxx-large;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
/* HEADER */
header {
  background-color: #000000;
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
header .title-logo {
  padding-left: 40px;
  flex-grow: 1;
}
header .header-links-list {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  flex-grow: 2;
  color: #ffffff;
  font-size: xx-large;
}
header .header-links-list .header-anchor-element {
  color: #ffffff;
  font-size: xx-large;
  text-decoration: none;
}
header div {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  gap: 20px;
}
header div .connexion-link {
  font-size: xx-large;
  color: #ffde59;
}
header div .publish-button {
  background-color: #ffde59;
  border-color: #ffde59;
  font-size: x-large;
  width: 250px;
  height: 50px;
  cursor: pointer;
}