/* HEADER */

header
{
    .title-logo 
    {

    }
    
    .header-link
    {
        ul{

        }  
    }
    .connexion-link
    {

    }
    .publish-button
    {

    }
}

/* BODY */

body{
    font-family:'Cormorant Garamond';
    font-size: 20px;
    background-color: #f1f0f0;
   
    
}

fieldset{
    border: solid gray;
    border-radius: 3px;
}

.publish_artwork{
   text-align: center;
   text-decoration: underline 8% #FFDE59;
   text-underline-position: under ;
   
}

.artwork{
    position: absolute;
    display: inline-grid;
    top:15em;
    
    .artwork_title{
        padding-bottom: 5px;
            
    }
    .artwork_champ{
        padding: 0.6em 6em;
    }

}
.art_form{
    position: absolute;
    display: inline-grid;
    top:20em;

    .art_form_title{
        padding-bottom: 5px;
    }
    .art_form_category{
        font-family: 'Cormorant Garamond';
        padding: 0.6em 2em;
        border-radius: 3px;
    }
}
.dimension{
    position: absolute;
    top: 25em;

    .dimension_title{
        padding-bottom: 5px;
        position: relative;
        top: 4em;
    }
    .dimension_length{
        position: relative;
        left: 9em;
    }
}
.artwork_pic{
    position: absolute;
    top: 15em;
    left: 40em;

}
.description_artwok{
    position: absolute;
    top:40em;
    display: inline-grid;
    

    .description_artwok_title{
        margin:5px;
    }
    .description_artwok_cadre{
        margin: 0 10em 0 1em;
        padding: 8em 25em;
        top: 1em;
        position: relative;
        border: solid gray;
        border-radius: 5px;
    }
}


a{
    
    color: black;
    background-color: #FFDE59;
    text-decoration: none;
    top: 60em;
    position: absolute;
    left: 30em;
    padding: 5px 20px;
    border-radius: 5px;

}

    

/* FOOTER */

footer
{
    footer-link
    {
        .footer-links-list
        {

        }
    }
    .icons-list
    {

    }
    p
    {

    }
    .newsletter-form
    {

    }
}
